.home{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    grid-row: 1 / 5;
    grid-column: 2/5;
}
body {
    background-color: #282c34;
}
#root {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

input 
{
    width: 20%;
}
button {
    background: #282c34;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 25px 80px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
button:hover{
    background-color: white;
    color: #282c34;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
ul {
    list-style: none;
}

.tweets {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
    color: white;
    margin: auto;
    text-align: center;
}
